<div class="cart-wrapper"  fxLayoutAlign="center" >
<div class="site" fxLayout="column"  fxFlex="87"  fxHide.xs>
  <div class="title-cart">
    <h2 class="content">Giỏ hàng</h2>
  </div>
  <div class="cart-list"  fxLayout="column" fxLayoutAlign="center" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" >
      <!-- Position Column -->
      <ng-container matColumnDef="img-product">
        <th mat-header-cell *matHeaderCellDef> Ảnh sản phẩm </th>
        <td mat-cell *matCellDef="let element">
          <img src="{{element.img}}" alt="">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name-product">
        <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
        <td mat-cell *matCellDef="let element"> <h3 class="name-value">{{element.name}}</h3> </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price-product">
        <th mat-header-cell *matHeaderCellDef> Đơn giá </th>
        <td mat-cell *matCellDef="let element"> <span class="price-value">{{element.price|currency:"VND"}}</span> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity-product">
        <th mat-header-cell *matHeaderCellDef> Số lượng </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn-quantity btn-increase" (click)="decreaseQuantity(inputElementQuantity)">-</button>
          <input #inputElementQuantity type="text" class="input-quantity" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="2" step="1" max="99" min="1" value="{{element.quantity}}">
          <button class="btn-quantity btn-decrease" (click)="increaseQuantity(inputElementQuantity)">+</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="total-product">
        <th mat-header-cell *matHeaderCellDef>Thành tiền </th>
        <td mat-cell *matCellDef="let element"><span class="price-value">{{element.quantity*element.price |currency: "VND"}}</span>  </td>
      </ng-container>
      <ng-container matColumnDef="action-product">
        <th mat-header-cell *matHeaderCellDef> Xóa </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="btn-remove">close</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-row>
      <td>Tổng tiền:</td>
        <td>56000</td>
      </tr>
    </table>
    <div class="total-all" fxLayoutAlign="center">
      <div class="title-wrapper" fxFlex="80"><p class="title">Tổng tiền:</p></div>
      <div class="value-wrapper" fxFlex="20"><span class="value">{{totalCart|currency:"VND"}}</span></div>
    </div>
  <div class="btn-action-wrapper" fxLayoutAlign="end">
    <button mat-flat-button class="btn"> Tiếp tục mua hàng</button>
    <button mat-flat-button class="btn btn-checkout">Thực hiện thanh toán</button>
  </div>
  </div>
</div>
<div class="site-mobile"  fxLayout="column" fxLayoutAlign="center center" fxHide.md fxHide.sm fxHide.lg>
  <div class="title-cart">
    <h2 class="content">Giỏ hàng của bạn</h2>
  </div>
  <div class="product-list"  fxLayout="column"  fxFlex="97">
    <div class="product-item" fxLayoutAlign="center"  *ngFor="let item of dataSource">
      <a href="" class="link">
        <img src="{{item.img}}" alt="">
      </a>
      <div class="describe">
        <a href="" class="name">{{item.name}}</a>
        <p class="price">Giá: <span>{{item.price|currency: "VND"}}</span></p>
      </div>
      <div class="action">
          <div class="quantity-box" fxLayoutAlign="center">
            <button class="btn-quantity" (click)="decreaseQuantity(inputElementQuantity)">-</button>
            <input #inputElementQuantity type="text" class="quantity-value" value="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="2" step="1" max="99" min="1">
            <button class="btn-quantity btn-increase" (click)="increaseQuantity(inputElementQuantity)">+</button>
          </div>
        <a href="" class="btn-delete">Xóa</a>
      </div>
    </div>
  </div>
  <div class="total-cart">
    <h3 class="title">Tổng tiền: </h3>
    <span class="value">3824782347</span>
  </div>
  <div class="checkout">
    <button class="btn">Tiến hành thanh toán</button>
    <button class="btn btn-continue">Tiếp tục mua hàng</button>
  </div>
</div>

</div>
