
<section class="bread-crumb" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="87" fxFlex.sm="98" fxFlex.xs="97">
        <div>
            <span>
                <a href="">Trang chủ</a>
                <i class="material-icons">chevron_right</i>
            </span>
            <span>
                Đăng ký tài khoản
            </span>
        </div>
    </div>
</section>

<div class="form-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="plr-15" fxFlex="87" fxFlex.sm="98" fxFlex.xs="97">
        <h2 class="title-head">
            <a href="#">Đăng kí tài khoản</a>
        </h2>
        <p class="notice-form">Nếu chưa có tài khoản, vui lòng đăng kí tại đây</p>
        <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()" >
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div class="form-group" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <label for="name">
                        Họ tên *
                    </label>
                    <input id="name" type="text" formControlName="name" class="form-control">
                    <div *ngIf=" f['name'].errors?.['required'] && f['name'].touched 
                    ||  f['name'].errors?.['required'] && submitted" class="alert">*Họ tên bắt buộc phải nhập</div>
                </div>
    
                <div class="form-group" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <label for="email">
                        Email *
                    </label>
                    <input id="email" type="email" formControlName="email" class="form-control">
                    <div *ngIf=" f['email'].errors?.['required'] && f['email'].touched
                    || f['email'].errors?.['required'] && submitted" class="alert">*Email bắt buộc phải nhập</div>
                    <div *ngIf=" f['email'].errors?.['email']" class="alert">*Email không hợp lệ</div>
                </div >
                <div class="form-group" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <label for="password">
                        Mật khẩu*
                    </label>
                    <input id="password" type="password" formControlName="password" class="form-control">
                    <div *ngIf=" f['password'].errors?.['required'] && f['password'].touched
                    || f['password'].errors?.['required'] && submitted" class="alert">*Mật khẩu bắt buộc phải nhập</div>
                    <div *ngIf=" f['password'].errors?.['minlength']" class="alert">*Mật khẩu phải có ít nhất 6 kí tự</div>
                    <div *ngIf=" f['password'].errors?.['maxLength']" class="alert">*Mật khẩu phải chỉ tối đa 40 kí tự</div>
    
                </div>
                <div class="form-group" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <label for="rePassword">
                        Nhập lại mật khẩu*
                    </label>
                    <input id="rePassword" type="password" formControlName="rePassword" class="form-control">
                    <!-- <div *ngIf=" f['rePassword'].errors?.['required'] && f['rePassword'].touched" class="alert">Bắt buộc nhập lại mật khẩu</div> -->
                    <div *ngIf="f['rePassword'].errors?.['required'] && f['rePassword'].touched || f['rePassword'].errors?.['required'] && submitted || registerForm.value?.password !=  registerForm.value?.rePassword && f['rePassword'].touched 
                    "  class="alert">*Mật khẩu nhập lại không hợp lệ
                    </div>
                </div>
                <div fxFlex="100%" class="form-buttons">
                    <button class="button" type="submit" [disabled]="registerForm.invalid">Đăng kí</button>
                    <a href="/login">Đăng nhập</a>
                </div>
            </div>
           
        </form>
    </div>
</div>