<div class="" fxLayoutAlign="center">
  <div class="address-wrapper" fxFlex="85" fxLayout="column" fxFlex.xs="95">
    <div class="title" fxFlex="100" fxLayout.xs="column" fxLayoutAlign.xs="center space-between" fxLayoutAlign="space-between center">Địa chỉ của bạn
      <a href="" class="back">
        <mat-icon>turn_slight_left</mat-icon>
        Quay lại trang tài khoản
      </a>
    </div>
    <div class="btn-action-wrapper">
      <button class="main-btn" (click)="toggleNewAddress()">+ Thêm địa chỉ</button>
    </div>
    <ng-container *ngIf="isShowNewAddress">
     <div class="new-address">
       <form action="">
         <div class="field">
           <label for="name-address" class="title">Tên*</label>
           <input type="text" id="name-address" class="input-address">
         </div>

         <div class="field">
           <label for="address" class="title">Địa chỉ*</label>
           <input type="text" id="address" class="input-address">
         </div>
         <div class="field">
           <label for="city" class="title">Thành phố*</label>
           <input type="text" id="city" class="input-address">
         </div>
         <div class="field">
           <label for="number-phone" class="title">Số điện thoại*</label>
           <input type="text" id="number-phone" class="input-address">
         </div>
         <div class="btn-action">
           <button class="main-btn">Thêm địa chỉ</button>
           <button mat-flat-button class="dark-btn">Hủy</button>
         </div>
       </form>
     </div>
    </ng-container>
    <div class="address-list">
      <div class="address-item">
        <p class=""><strong>Tên tài khoản:</strong> Trần Quang Tuyền</p>
        <p class=""><strong>Địa chỉ:</strong> KP6, phường Linh Trung, TP. Thủ Đức</p>
        <p class=""><strong>Số điện thoại:</strong> 0356955894</p>
        <div class="btn-wrapper" fxLayoutAlign="start center">
          <button class="main-btn">Chỉnh sửa địa chỉ</button>
          <button mat-flat-button class="dark-btn">Xóa</button>
        </div>

      </div>
      <div class="address-item">
        <p class=""><strong>Tên tài khoản:</strong> Trần Quang Tuyền</p>
        <p class=""><strong>Địa chỉ:</strong> KP6, phường Linh Trung, TP. Thủ Đức</p>
        <p class=""><strong>Số điện thoại:</strong> 0356955894</p>
        <div class="btn-wrapper" fxLayoutAlign="start center">
          <button class="main-btn">Chỉnh sửa địa chỉ</button>
          <button mat-flat-button class="dark-btn">Xóa</button>
        </div>
      </div>
      <div class="address-item">
        <p class=""><strong>Tên tài khoản:</strong> Trần Quang Tuyền</p>
        <p class=""><strong>Địa chỉ:</strong> KP6, phường Linh Trung, TP. Thủ Đức</p>
        <p class=""><strong>Số điện thoại:</strong> 0356955894</p>
        <div class="btn-wrapper" fxLayoutAlign="start center">
          <button class="main-btn">Chỉnh sửa địa chỉ</button>
          <button mat-flat-button class="dark-btn">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>
