<div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="start stretch" fxFlexFill>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>
    <app-item-product fxFlex="25" fxFlex.sm="30" fxFlex.xs="50"></app-item-product>

</div>
